<h2>Exercise 1 - Which of the following statements is true?</h2>

**Answer:** A

<h2>Exercise 2 -  What is the bagged predicted churn probability using the five decision trees?</h2>

**Answer:** 1/5 * (.78 + .81 + .76 + .82 + .8) = .794

<h2>Exercise 3 - What is the difference between random forest and boosted trees? Be specific.</h2>

**Answer:** Boosted trees learns from its mistakes, while random forest takes random samples of the data.

<h2>Exercise 4</h2>

No<br>
Yes<br>
No<br>
Yes<br>
No

<h2>Exercise 5 - Use Default.csv datafile below</h2>

In [9]:
#5a - Using the pandas library, read the csv file and called credit_default

import pandas as pd
import numpy as np

credit_default = pd.read_csv('Default.csv')
credit_default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [10]:
#5b - create new variable in credit_default data-frame called default_numb that takes the value of 1 when 
#default = Yes and 0 when default = No.

credit_default['default_numb'] = np.where(credit_default['default'] == 'Yes', 0, 1)
credit_default.head()

  default student      balance        income  default_numb
0      No      No   729.526495  44361.625074             1
1      No     Yes   817.180407  12106.134700             1
2      No      No  1073.549164  31767.138947             1
3      No      No   529.250605  35704.493935             1
4      No      No   785.655883  38463.495879             1

In [11]:
#5c - Build random forest classifier model where default_numb target variable, balance and income are input.

from sklearn.ensemble import RandomForestClassifier

X = credit_default[['balance', 'income']]
Y = credit_default['default_numb']

RF_md = RandomForestClassifier().fit(X, Y)

In [12]:
#5d - predict the likelihood of default of a customer with balance = $2,000 and income = $70,000.

obsv = pd.DataFrame({'balance':[2000], 'income':[70000]})

RF_pred = RF_md.predict_proba(obsv)
print(RF_pred)

[[0.79 0.21]]

In [13]:
#5e -  create a new variables in the credit_default data-frame called student_numb that takes the value of 1 when 
#student = Yes and 0 when student = No.

credit_default['student_numb'] = np.where(credit_default['student'] == 'Yes', 0, 1)
credit_default.head()

  default student      balance        income  default_numb  student_numb
0      No      No   729.526495  44361.625074             1             1
1      No     Yes   817.180407  12106.134700             1             0
2      No      No  1073.549164  31767.138947             1             1
3      No      No   529.250605  35704.493935             1             1
4      No      No   785.655883  38463.495879             1             1

In [14]:
#5f - Build random forest classifier model where default_numb is target. balance, income and student_numb are input.

X1 = credit_default[['balance', 'income', 'student_numb']]
Y1 = credit_default['default_numb']

RF_md1 = RandomForestClassifier().fit(X1, Y1)

In [15]:
#5g - predict likelihood of default of customer with balance = $2,500 and income = $20,000 and student_numb = 1.

obsv1 = pd.DataFrame({'balance':[2500], 'income':[20000], 'student_numb':[1]})

RF_pred1 = RF_md1.predict_proba(obsv1)
print(RF_pred1)

[[0.72 0.28]]

<h2>Exercise 6 - Use Churn_Data.csv datafile below</h2>

In [16]:
#6a - Using the pandas library, read the csv file and create a data-frame called customer_churn.

customer_churn = pd.read_csv('Churn_Data.csv')
customer_churn.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCreditCard,IsActiveMember,EstimatedSalary,Churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
#6b - create a variable called Churn_numb that takes the value of 1 when Churn = Yes and 0 when Churn = No.

customer_churn['Churn_numb'] = np.where(customer_churn['Churn'] == 'Yes', 0, 1)
customer_churn.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCreditCard,IsActiveMember,EstimatedSalary,Churn,Churn_numb
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0,1
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1

In [18]:
#6c - Build a random forest classifier, in which Churn_numb is the target variable. Age, EstimatedSalary, 
#CreditScore, Balance, and NumOfProducts are the input variables. Use n_estimators = 500 and max_depth = 3

X2 = customer_churn[['Age', 'EstimatedSalary', 'CreditScore', 'Balance', 'NumOfProducts']]
Y2 = customer_churn['Churn_numb']

RF_md2 = RandomForestClassifier(n_estimators = 500,
                                max_depth = 3).fit(X2, Y2)

In [30]:
#6d - predict likelihood of churn of a customer with Age = 50, EstimatedSalary = $100,000, CreditScore = 600, 
#Balance = $100,000, and NumOfProducts = 2.

obsv2 = pd.DataFrame({'Age':[50], 'EstimatedSalary':[100000], 'CreditScore':[600], 'Balance':[100000], 'NumOfProducts':[2]})

RF_pred2 = RF_md2.predict_proba(obsv2)
print(RF_pred2)

[[1.]]

In [29]:
#6e - GradientBoostingClassifier model in which Churn_numb is the target variable. Age, EstimatedSalary, 
#CreditScore, Balance, and NumOfProducts are the input variables. Use n_estimators = 500 and max_depth = 3.

from sklearn.ensemble import GradientBoostingClassifier

X3 = customer_churn[['Age', 'EstimatedSalary', 'CreditScore', 'Balance', 'NumOfProducts']]
Y3 = customer_churn['Churn_numb']

GB_md = GradientBoostingClassifier(max_depth = 3,
                                  n_estimators = 500).fit(X3, Y3)       

#Idk why this isn't working

ValueError: y contains 1 class after sample_weight trimmed classes with zero weights, while a minimum of 2 classes are required.

In [31]:
#6f - predict the likelihood of churn of a customer with the characteristics presented in part (d)
#This is how I would do it if it were working

obsv3 = ({'Age':[50], 'EstimatedSalary':[100000], 'CreditScore':[600], 'Balance':[100000], 'NumOfProducts':[2]})

GB_pred = GB_md.predict_proba(obsv3)
print(GB_pred)

NameError: name 'GB_md' is not defined